.container {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.675);
  padding: 10px 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

input {
  align-items: center;
  padding: 5px;
  border: none;
  outline: none;
}

.promotions{
  text-align: center;
  background-color: lightgray;
  font-size: 13px;
}