.container {
  height: 60px;
  background-color: rgba(220, 220, 220, 0.452);
  padding: 10px 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

input {
  align-items: center;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: rgba(220, 220, 220, 0.149);
}

.promotions{
  text-align: center;
  background-color: #b9b9b9c6;
  font-size: 13px;

}
.letterSpacing{
  letter-spacing: 2px;
  font-weight: bold;
}

.imgSliders{
  width: 100%;
}